body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(221, 215, 215);
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.container {
    border-radius: 10px;
    width: 500px;
    height: 600px;
    padding: 20px;
    background-color: rgb(228, 233, 235);
    box-shadow: 5px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.task-form {
    width: 400px;
    display: flex;
}

.task-input {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    border-radius: 8px;
}

.task_submit {
    margin: 0;
    padding: 0;
    border: 0;
    width: 0;
    visibility: hidden;
    /* Make submit button hidden */
}

.task-board {
    border: 1px solid #979797;
    border-radius: 5px;
    width: 400px;
    padding: 15px 15px 15px 30px;
    flex: 1;
    background-color: #eafff9;
    box-sizing: border-box;
    /* Keep width from increasing with padding */
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.task {
    display: flex;
    background-color: white; 
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #979797;
    border-radius: 5px;
    gap:20px;
}

.task:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.task_delete {
    font-size: 2em;
    font-weight: bolder;
    background-color: transparent;
    border: transparent;
}

.task_delete:hover {
    cursor: pointer;
    color: #ffffff;
}

.task_content {
    flex-shrink: 1;
    word-break: break-word;
}

.task_content--done {
    text-decoration: line-through;
}